.taskbar {
  height: 80;
  width: 50%;

  background: #735bf2;
  color: #fff;

  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  margin: 10px 0;
}

.taskbar strong {
  font-size: 18px;
}

.closeButton {
  background-color: gray;
  border: 1px solid black;
  border-radius: 5px;
  height: 2rem;
  width: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.closeButton strong {
  font-size: 26px;
}
